/*--------------------------------------------------------------
  # Gallery Section
  --------------------------------------------------------------*/
#gallery {
    padding: 60px;
    overflow: hidden;
}

#gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.carousel-img img {
    width: 200px;
    height: 200px;
}

#gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #f82249;
}

#gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f82249;
}

#gallery .swiper-slide-active {
    text-align: center;
}

@media (min-width: 992px) {
    #gallery .swiper-wrapper {
        padding: 40px 0;
    }

    #gallery .swiper-slide-active {
        border: 5px solid #f82249;
        padding: 4px;
        background: #fff;
        z-index: 1;
        transform: scale(1.15);
        margin-top: 6px;
    }
}