input {
    display: none;
}

label i {
    color: #f82249;
}

button[type=submit] {
    background: #f82249;
    border: 0;
    padding: 5px 10px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

button[type=submit]:hover {
    background: #e0072f;
}